<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .active {
      background: red
    }
  </style>
</head>

<body>
  <div id="app">
    <input v-model="model">
    <h1 :title="model">{{model}}</h1>
    <ul>
      <li v-for="(item,i) in list" v-if="item" :style="{xwidth:item+'px'}" :class="{active:item<0.3}">
        {{item}}
        <button @click="remove(i)">-</button>
      </li>
    </ul>
    <svg width="200" height="200">
      <!-- <polygon points="10 10, 20 20" style="fill:#0af"></polygon> -->
      <polygon style="fill:#0af" :points="points"></polygon>
    </svg>
  </div>
  <script src="domDiff.js"></script>
  <script>
    var vm = new VM({
      el: app,
      data: {
        model: 'model',
        list: [1, 2].concat(Array(1).fill(1).map(() => Math.random())),
        points: '',
      },
      computed: {
        title: function () {
          return new Date
        },
        nn: function () {
          return this.n + 10
        }
      },
      methods: {
        update: function () {
          function loop(params) {
            vm.points = Array(1000).fill(1).map(function () {
              return Math.random() * 200 + ' ' + Math.random() * 200
            }).join(', ')

            vm.list[1] = Math.random()
            vm.model = +new Date

            setTimeout(function () {
              loop()
            }, vm.n)
          }
          loop()
        },
        add: function () {
          this.list.push(this.model)
          this.model = ''
        },
        remove: function (i) {
          this.list.splice(i, 1)
        }
      },
      mounted: function () {
        this.update()
      }
    })
  </script>
</body>

</html>